* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color Palette */
  --primary-color: #7743db;
  --secondary-color: #00d5ff;
  --heading-color: #000;
  --text-color: #555;
  --background-color: #dde1e7;
  --blur-bg: rgba(255, 255, 255, 0.2);
  --circle-color: #b0b0b0;
  --circle-inside-color: #ddd;
  --box-color: #e3e3e3bb;
  --dark-background-color: #222;
  --light-gray: #ddd;

  /* Font Settings */
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Roboto", sans-serif;
  --font-size-base: 1rem;

  /* Base font size */
  --font-size-large: 2rem;
  --font-size-small: 0.8rem;
  --font-size-medium: 1.3rem;
  --font-size-largest: 3rem;

  /* font weight */
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-light: 300;
  --font-weight-extra-light: 200;

  /* Line Height */
  --line-height-base: 1.5;
  --line-height-small: 1.2;
  --line-height-large: 1.8;

  /* Letter Spacing */
  --letter-spacing-base: 0;
  --letter-spacing-medium: 0.1rem;

  /* Spacing */
  --spacing-medium: 1.5rem;
  --spacing-base: 1rem;
  --spacing-double: 2rem;
  --spacing-triple: 3rem;
  --spacing-unit: 10px;
  --spacing-unit-small: 6px;
  --section-padding: 3.5rem 1.5rem;

  /* Border Radius */
  --border-radius: 10px;
  --border: 10px solid #e0e0e0;
  --border2: 1px solid rgba(255, 255, 255, 0.3);

  /* Shadows */
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow2: 0 20px 40px rgba(0, 0, 0, 0.3);
  --shadow: 1px 1px 2px #b0b0b0, -1px -1px 2px #ffffff;
  --box-border: inset 3px 3px 6px #b0b0b0, inset -3px -3px 6px #ffffff,
    3px 3px 6px #b0b0b0, -3px -3px 6px #ffffff;
  --shadow-insert: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, 0.288);
  --filter: 1px 1px 2px #b0b0b0;

  /* Z-index values */
  --z-header: 1000;
  /* Z-index for the header */
  --z-overlay: 2000;
  /* Z-index for overlay elements */

  /* Transitions */
  --transition-speed: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-primary);
  text-shadow: var(--shadow);
  background-color: var(--background-color);
}

main {
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 var(--spacing-medium);
  box-shadow: var(--box-shadow);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: var(--z-header);
  background-color: var(--background-color);
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-unit);
}

.logo h1 {
  font-size: var(--font-size-large);
}

header .navbar {
  display: flex;
}

header .navbar .nav-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: var(--spacing-double);
}

header .navbar .nav-list li {
  position: relative;
}

header .navbar .nav-list li a {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: none;
  transition: color var(--transition-speed);
  font-size: var(--font-size-base);
}

header .navbar .nav-list li a:hover,
header .navbar .nav-list li a.active {
  color: var(--primary-color);
  text-shadow: var(--shadow);
}

/* Menu Toggle Styles */
.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: var(--font-size-medium);
  z-index: var(--z-header);
}

section {
  width: 100%;
  padding: var(--section-padding);
  margin-right: 100vh;
}

/*--------------------------HOME--------------------------*/
.home-section {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.home-section .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
}

.home-section .left h2 {
  font-size: var(--font-size-large);
  margin-bottom: var(--spacing-unit-small);
  color: var(--text-color);
}

.home-section .left .multiple-text {
  color: var(--primary-color);
}

.home-section .left a {
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--font-size-base);
  transition: color var(--transition-speed);
  box-shadow: var(--shadow);
  padding: var(--spacing-unit) var(--spacing-base);
  border-radius: var(--border-radius);
  text-shadow: none;
}

.home-section .left .intro {
  display: flex;
  color: var(--heading-color);
}

.home-section .left .intro h6 {
  font-size: var(--font-size-base);
}

.home-section .left .intro span {
  font-size: var(--font-size-largest);
  margin-bottom: var(--spacing-unit-small);
  font-weight: 600;
}

.home-section .left p {
  font-size: var(--font-size-medium);
  line-height: 1.6;
  color: var(--text-color);
  margin-bottom: var(--spacing-medium);
}

.home-section .warp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.home-section .warp .center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.home-section .warp .center img {
  width: 60%;
  height: auto;
  border-radius: 50%;
  box-shadow: var(--box-border);
  border: var(--border);
}

.home-section .warp .right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-section .btn {
  display: flex;
  align-items: center;
  gap: var(--spacing-medium);
  justify-content: center;
  margin-bottom: var(--spacing-medium);
}

.home-section .btn a {
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--font-size-base);
  transition: color var(--transition-speed);
  box-shadow: var(--shadow);
  padding: var(--spacing-unit) var(--spacing-base);
  border-radius: var(--border-radius);
  text-shadow: none;
}

.home-section .social-icons {
  display: flex;
  justify-content: center;
  gap: var(--spacing-medium);
}

.home-section .social-icons i {
  color: var(--text-color);
  transition: color var(--transition-speed);
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  padding: var(--spacing-unit) var(--spacing-base);
  font-size: var(--font-size-medium);
}

.home-section .social-icons i:hover {
  box-shadow: var(--shadow-insert);
  text-shadow: var(--shadow-insert);
}

.home-section .social-icons .fa-facebook-f:hover {
  color: #4267b2;
}

.home-section .social-icons .fa-twitter:hover {
  color: #1da1f2;
}

.home-section .social-icons .fa-instagram:hover {
  color: #e1306c;
}

.home-section .social-icons .fa-linkedin-in:hover {
  color: #2867b2;
}

.home-section .social-icons .fa-github:hover {
  color: #333;
}

.home-section .left a:hover,
.home-section .btn a:hover {
  color: var(--primary-color);
  box-shadow: var(--shadow-insert);
  text-shadow: var(--shadow-insert);
}

/*ALL h2*/
h2 {
  font-size: var(--font-size-largest);
  margin-bottom: var(--spacing-unit-small);
  color: var(--heading-color);
}

h3 {
  font-size: var(--font-size-large);
  margin-bottom: var(--spacing-unit-small);
  color: var(--heading-color);
}

/*--------------------------ABOUt--------------------------*/
.about-section {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.row-container {
  display: flex;
  justify-content: center;
  gap: var(--spacing-medium);
  align-items: center;
  width: 100%;
  margin-top: var(--spacing-double);
}

.row-container .left {
  width: 50%;
}

.row-container .left img {
  width: 80%;
  height: auto;
  border-radius: 10%;
  box-shadow: var(--box-border);
  border: var(--border);
}

.row-container .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  gap: var(--spacing-medium);
}

.row-container .right p {
  font-size: var(--font-size-base);
  line-height: 1.6;
  color: var(--text-color);
  margin-bottom: var(--spacing-medium);
}

.skills-section {
  text-align: center;
  padding: var(--spacing-triple) 0;
}

.skills-section .description {
  font-size: var(--font-size-base);
  color: var(--text-color);
  margin: var(--spacing-medium) 0;
}

.skills-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: var(--spacing-double);
}

.skill {
  width: 150px;
  margin: var(--spacing-medium);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-unit-small);
}

.skill p {
  margin-top: var(--spacing-unit-small);
  font-size: var(--font-size-base);
}

.circle {
  width: 120px;
  height: 120px;
  box-shadow: var(--box-border);
  border: var(--border);
  border-radius: 50%;
  position: relative;
}

.circle:before {
  content: attr(data-progress) "%";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-size-medium);
  font-weight: bold;
}

.circle[data-progress="98"] {
  background: conic-gradient(var(--circle-color) 0% 98%, transparent 98% 100%);
}

.circle[data-progress="95"] {
  background: conic-gradient(var(--circle-color) 0% 95%, transparent 95% 100%);
}

.circle[data-progress="89"] {
  background: conic-gradient(var(--circle-color) 0% 89%, transparent 89% 100%);
}

.circle[data-progress="80"] {
  background: conic-gradient(var(--circle-color) 0% 85%, transparent 85% 100%);
}

/*--------------------------Qualification--------------------------*/
.qualifications-section {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.qualifications-section .description {
  font-size: var(--font-size-base);
  margin-bottom: var(--spacing-medium);
  color: var(--text-color);
  line-height: var(--line-height-base);
}

.qualifications-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.qualifications-container .card {
  background-color: var(--box-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: var(--spacing-medium);
  width: calc(30% - 20px);
  /* max-width: 90%; */
  box-sizing: border-box;
  line-height: var(--line-height-base);
  transition: box-shadow 0.3s, transform 0.3s;
}

.qualifications-container .card:hover {
  box-shadow: var(--box-shadow2);
  transform: translateY(-10px) !important;
}

.qualifications-container .card p strong {
  color: var(--heading-color);
}

.icon {
  font-size: var(--font-size-large);
  margin-bottom: var(--spacing-base);
}

.key-skills {
  margin-top: var(--spacing-triple);
  text-align: center;
}

.skills-wrapper {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.skills-list-1 {
  display: inline-flex;
  animation: left-slideLoop 20s linear infinite;
}

.skills-list-2 {
  display: inline-flex;
  animation: right-slideLoop 20s linear infinite;
}

.skills-list-1 .skill,
.skills-list-2 .skill {
  color: var(--text-color);
  padding: var(--spacing-unit);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  display: inline-block;
}

@keyframes left-slideLoop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes right-slideLoop {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

/*--------------------------SERVICES--------------------------*/
.services-section {
  text-align: center;
}

.services-section .description {
  font-size: var(--font-size-base);
  margin-bottom: var(--spacing-medium);
  color: var(--text-color);
  line-height: var(--line-height-base);
}

.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: var(--spacing-double);
}

.service {
  background-color: var(--box-color);
  max-width: 30%;
  margin: var(--spacing-base) 0;
  text-align: center;
  box-shadow: var(--shadow);
  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
  transition: box-shadow 0.3s, transform 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service:hover {
  box-shadow: var(--box-shadow2);
  transform: scale(1.05) !important;
}

.service img {
  width: 64px;
  height: 64px;
  margin-bottom: var(--spacing-base);
  filter: drop-shadow(var(--filter));
}

.service p {
  font-size: var(--font-size-base);
  color: var(--text-color);
  line-height: 1.6;
}

/*-------------------------- PROJECTS --------------------------*/
.projects-section {
  text-align: center;
}

.projects-section p {
  font-size: var(--font-size-base);
  margin-bottom: var(--spacing-medium);
  color: var(--text-color);
  line-height: var(--line-height-base);
}

.projects-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.projects-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.project-box {
  background-color: var(--box-color);
  min-width: 25%;
  margin: var(--spacing-base) var(--spacing-medium);
  box-shadow: var(--shadow);
  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
  transition: box-shadow 0.3s, transform 0.3s;
  scroll-snap-align: center;

  &:hover {
    transform: translateY(-10px) !important;

    img {
      transform: scale(1.05);
      box-shadow: var(--box-shadow);
    }
  }
}

.project-box img {
  width: 100%;
  border-radius: var(--border-radius);
  margin-bottom: var(--spacing-base);
  transition: box-shadow 0.3s, transform 0.3s;
}

.project-box h3 {
  font-size: var(--font-size-medium);
  font-weight: bold;
  margin-bottom: var(--spacing-base);
}

.project-box p {
  font-size: var(--font-size-base);
  color: var(--text-color);
  line-height: var(--line-height-base);
  margin-bottom: var(--spacing-medium);
}

.project-box .btn {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  box-shadow: var(--shadow);
  text-shadow: none;
  border-radius: var(--border-radius);
  padding: var(--spacing-unit);
  transition: all 0.3s ease-in-out;
}

.project-box .btn:hover {
  color: var(--primary-color);
  text-shadow: var(--shadow-insert);
  box-shadow: var(--shadow-insert);
}

/* Scroll Buttons */
.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.left-arrow {
  left: 0;
  border-radius: var(--border-radius);
}

.right-arrow {
  right: 0;
  border-radius: var(--border-radius);
}

.scroll-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/*-------------------------- CONTACT--------------------------*/
.contact-section {
  text-align: center;
}

.contact-section .description {
  font-size: var(--font-size-base);
  margin-bottom: var(--spacing-medium);
  color: var(--text-color);
  line-height: var(--line-height-base);
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-triple);
  max-width: 1200px;
  margin: var(--spacing-medium) auto;
}

.contact-info {
  flex: 1;
  padding: var(--spacing-medium);
  box-shadow: var(--shadow-insert);
  border-radius: var(--border-radius);
  text-align: center;
  width: 50%;
  line-height: var(--line-height-large);
}

.contact-info .social-icons {
  margin-top: var(--spacing-medium);
}

.contact-info .social-icons a {
  color: var(--text-color);
  font-size: var(--font-size-medium);
  margin: 0 var(--spacing-base);
  transition: color 0.3s ease-in-out;
}

.contact-info .social-icons a:hover {
  color: var(--secondary-color);
}

.contact-form {
  flex: 1;
  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
  width: 50%;
  box-shadow: var(--shadow-insert);
}

.contact-form .form-group {
  margin-bottom: var(--spacing-medium);
}

.contact-form .form-group label {
  display: block;
  font-size: var(--font-size-base);
  margin-bottom: var(--spacing-unit-small);
  color: var(--text-color);
  text-align: start;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
  width: 100%;
  padding: var(--spacing-unit);
  background-color: transparent;
  border: 1px solid #ddd;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  font-size: var(--font-size-base);
  color: var(--text-color);
}

.contact-form .form-group input:focus,
.contact-form .form-group textarea:focus {
  outline: none;
  border-color: var(--primary-color);
}

.contact-form button {
  color: var(--text-color);
  border: none;
  padding: var(--spacing-unit);
  box-shadow: var(--shadow);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: var(--background-color);
}

.contact-form button:hover {
  color: var(--primary-color);
  box-shadow: var(--box-shadow);
  text-shadow: var(--shadow-insert);
  transform: scale(1.05);
}

/*-------------------------- FOOTER--------------------------*/
.footer {
  padding: 50px 10%;
  text-align: center;
  background-color: var(--box-color);
  box-shadow: var(--box-shadow2);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--spacing-triple);
}

.footer-links,
.footer-social {
  flex: 1;
}

.footer-links ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-base);
  justify-content: center;
}

.footer-links ul li {
  margin-bottom: var(--spacing-unit-small);
}

.footer-links ul li a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s ease-in-out;
}

.footer-links ul li a:hover {
  color: var(--secondary-color);
}

.footer-social .social-icons {
  display: flex;
  justify-content: center;
  gap: var(--spacing-base);
}

.footer-social .social-icons a {
  color: var(--text-color);
  font-size: var(--font-size-medium);
  transition: color 0.3s ease-in-out;
}

.footer-social .social-icons a:hover {
  color: var(--secondary-color);
}

.footer-bottom {
  margin-top: var(--spacing-double);
  border-top: 1px solid #444;
  padding-top: var(--spacing-unit-small);
}

.footer-bottom p {
  font-size: var(--font-size-base);
  color: #aaa;
}

/* Responsive Design */

/* For screens 1024px and below */
@media (max-width: 1024px) {
  .home-section {
    flex-direction: row;
  }

  .home-section .warp {
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--spacing-medium);
    align-items: center;
    width: 60%;
  }

  .home-section .center,
  .home-section .btn,
  .home-section .social-icons {
    width: 100%;
  }

  .home-section .left {
    margin-top: var(--spacing-medium);
  }

  /*--------------------------ABOUt--------------------------*/
  .skills {
    margin: var(--spacing-unit-small);
  }

  /*--------------------------QUALIFICATION--------------------------*/
  .qualifications-container .card {
    width: 45%;
  }

  /*--------------------------SERVICES & PROJECTS--------------------------*/
  .service {
    max-width: 45%;
  }

  .project-box {
    min-width: 40%;
  }
}

/* Responsive Styles for screens smaller than 768px */
@media screen and (max-width: 768px) {
  header {
    padding: 20px;
    height: 6vh;
    display: flex;
  }

  header .logo h1 {
    font-size: var(--font-size-medium);
  }

  /* Basic styles for the navbar */
  .navbar {
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    /* Initially hide the navbar off-screen */
    width: 50%;
    height: 100%;
    background: var(--blur-bg);
    backdrop-filter: blur(10px);
    border: var(--border2);
    justify-content: center;
    align-items: center;
    transition: right 0.5s ease-in-out;
    animation: slide-Out 0.5s ease forwards;
    /* Slide-out animation */
  }

  /* Navbar links styling */
  .navbar .nav-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    /* Initially hide the menu items */
    animation: fadeOut 0.5s ease-out;
    /* Fade-out animation */
  }

  .navbar .nav-list li {
    margin-bottom: var(--spacing-medium);
  }

  /* Toggle button styling */
  .menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 24px;
  }

  /* Initial hidden state for close icon */
  .menu-toggle i.fa-xmark {
    display: none;
    color: var(--text-color);
  }

  /* Show close icon and hide menu icon when checkbox is checked */
  #menu-toggle:checked ~ .navbar {
    right: 0;
    animation: slide-In 0.5s ease forwards;
    /* Slide-in animation */
  }

  #menu-toggle:checked ~ .menu-toggle i.fa-xmark {
    display: inline;
    color: var(--secondary-color);
  }

  #menu-toggle:checked ~ .menu-toggle i.fa-bars {
    display: none;
  }

  /* Fade-in animation for menu items when navbar is shown */
  #menu-toggle:checked ~ .navbar ul {
    opacity: 1;
    animation: fadeIn 0.5s ease-in;
    /* Fade-in animation */
  }

  /* Animation for sliding in */
  @keyframes slide-In {
    from {
      right: -50%;
      /* Adjust based on navbar width */
      opacity: 0;
    }

    to {
      right: 0;
      opacity: 1;
    }
  }

  /* Animation for sliding out */
  @keyframes slide-Out {
    from {
      right: 0;
      opacity: 1;
    }

    to {
      right: -50%;
      opacity: 0;
    }
  }

  /* Animation for fading in menu items */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  /* Animation for fading out menu items */
  @keyframes fadeOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0;
    }
  }

  section {
    padding: 30px 15px;
  }

  /*ALL h2*/
  h2 {
    font-size: var(--font-size-large);
  }

  h3 {
    font-size: var(--font-size-medium);
  }

  /*----------------------HOME----------------------*/
  .home-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .home-section .left {
    width: 100%;
    margin-left: var(--spacing-double);
    justify-content: center;
  }

  .home-section .left h2 {
    font-size: var(--font-size-medium);
  }

  .home-section .left .intro h6 {
    font-size: var(--font-size-small);
  }

  .home-section .left .intro span {
    font-size: var(--font-size-large);
    margin-bottom: var(--spacing-unit-small);
  }

  .home-section .left p {
    font-size: var(--font-size-base);
    margin-bottom: var(--spacing-base);
  }

  .home-section .warp {
    display: flex;
    width: 100%;
    margin-top: var(--spacing-base);
  }

  .home-section .warp .center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .home-section .warp .center img {
    width: 50%;
  }

  .home-section .warp .right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  /*--------------------------ABOUt--------------------------*/
  .row-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .row-container .left {
    width: 90%;
  }

  .row-container .left img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: var(--spacing-medium);
  }

  .row-container .right {
    width: 90%;
    gap: var(--spacing-unit-small);
  }

  .skills-section {
    width: 100%;
  }

  .skills-wrapper .skill {
    width: 100px;
    margin: var(--spacing-medium);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /*--------------------------QUALIFICATION--------------------------*/
  .qualifications-container .card {
    width: 70%;
  }

  /*--------------------------SERVICES & PROJECTS--------------------------*/
  .services-section p {
    font-size: var(--font-size-base);
  }

  .service {
    max-width: 80%;
  }

  .project-box {
    min-width: 50%;
  }

  /*--------------------------CONTACT--------------------------*/
  .contact-container {
    flex-direction: column;
  }

  .contact-info,
  .contact-form {
    width: 90%;
  }

  /*-------------------------- FOOTER --------------------------*/
  .footer-container {
    align-items: center;
    flex-direction: column;
  }

  .footer-logo h2 {
    text-align: start;
    margin-bottom: var(--spacing-medium);
    font-size: var(--font-size-medium);
  }

  .footer-links,
  .footer-social {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .home-section {
    padding: 0 10px;
  }

  .home-section .warp .center img {
    width: 70%;
  }

  .home-section .warp .right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .home-section .warp .right .btn a,
  .home-section .left a {
    font-size: var(--font-size-small);
  }

  .home-section .warp .right .social-icons {
    display: flex;
    gap: var(--spacing-medium);
    margin-top: var(--spacing-unit-small);
  }

  .home-section .warp .right .social-icons i {
    font-size: var(--font-size-base);
  }

  /*--------------------------ABOUT--------------------------*/

  /*--------------------------QUALIFICATION--------------------------*/
  .qualifications-container .card {
    width: 100%;
  }

  /*--------------------------SERVICES--------------------------*/
  .service {
    max-width: 95%;
  }

  /*--------------------------PROJectS--------------------------*/
  .project-box {
    min-width: 95%;
  }

  /*--------------------------CONTACT--------------------------*/
  .contact-info,
  .contact-form {
    width: 100%;
  }
}

/* Dark Mode */
.dark-mode {
  --heading-color: #fff;
  --text-color: #ddd;
  --background-color: #1f1e1e;
  --circle-color: #444;
  --blur-bg: rgba(0, 0, 0, 0.5);
  --circle-inside-color: #333;
  --box-color: #333333bb;
  --dark-background-color: #111;
  --light-gray: #444;

  --border: 10px solid #222;
  --border2: 1px solid rgba(255, 255, 255, 0.5);

  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  --box-shadow2: 0 20px 40px rgba(0, 0, 0, 0.5);
  --shadow: -2px -2px 4px #333, 2px 2px 4px #000;
  --box-border: inset 3px 3px 6px #000, inset -3px -3px 6px #333,
    3px 3px 6px #000, -3px -3px 6px #333;
  --shadow-insert: inset -3px -3px 7px #333, inset 3px 3px 5px #00000073;
  --filter: 2px 2px 4px #333;
}

/* Example of how to toggle dark mode */
body.dark-mode {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Dark Mode Toggle Container */
.dark-mode-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Hide the default checkbox */
.dark-mode-toggle input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

/* Slider Container */
.dark-mode-toggle label {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

/* Slider Styling */
.dark-mode-toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: #b0b0b0; */
  transition: 0.4s;
  border-radius: 34px;
  box-shadow: var(--shadow-insert);
  border: 2px solid var(--primary-color);
}

/* Slider Circle */
.dark-mode-toggle .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  left: 2px;
  bottom: 2px;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  box-shadow: var(--shadow);
  transition: 0.4s;
}

/* Toggle the slider when checked */
.dark-mode-toggle input:checked + label .slider {
  box-shadow: var(--shadow-insert);
  border: 2px solid var(--secondary-color);
}

.dark-mode-toggle input:checked + label .slider:before {
  transform: translateX(19px);
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}
/* Add a hover effect */
/* .dark-mode-toggle label:hover .slider {
  background-color: #b0b0b0;
} */
